:root {
    --background-color: #c5c3c6;
    --font-color: #46494b;
    --header-background-color: #4c5c68;
    --header-font-color: #b0e4db;
    --field-background-color: #ededee;
    --border-color: #555;
    --blue-border-color: #2a3a46;
    --button-background-color: #4c5c68;
    --button-hover-background: #3b4b57;
    --button-active-background: #2a3a46;
    --font: 'Varela Round', sans-serif;
  }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    margin: auto;
    margin-top: 65px;
}

/* message */

.win p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    z-index: 1;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.winner {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    font-size: 35px;
}

.sign {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    font-size: 150px;
    margin: 0;
}

.o-text {}

.x-text {}

.hide{
    display: none;
}

.btn {    
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 16px;
    background-color: #ffffff;
    border-bottom: 2px solid #203647;
}

.btn:hover {
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.4);
}



/* setting */


.setting {
    margin: 0.8em;
    display: flex;
    align-self: flex-start;
}

select {
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #203647;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #203647;
}

form {
    display: block;
    margin-top: 0em;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.restart {
    margin-left: 18px;
}

/* player select */
.player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.chosen {
    color: #203647;
    font-weight: 600;
    -webkit-box-shadow: -1px 7px 22px -6px grey;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.4);

}

.unchosen {
    box-shadow: none;
    font-weight: 600;
    color: grey;
    border-width: 1.5px;
}

.player-btn {
    width: 15em;
    height: 2.5em;
    margin: 1em 1em 1em 1em;
    border-bottom: 0;
}


/* gameboard */

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    margin: 0px auto;
}

.field {
    width: 150px;
    height: 150px;
    border: 2.9px solid var(--border-color);
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
  
.field:hover {
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.4)
}

.field:nth-child(1), 
.field:nth-child(2),
.field:nth-child(3)
{
    border-top: 0;
}

.field:nth-child(7), 
.field:nth-child(8),
.field:nth-child(9)
{
    border-bottom: 0;
}

.field:nth-child(1), 
.field:nth-child(4),
.field:nth-child(7)
{
    border-left: 0;
}

.field:nth-child(3), 
.field:nth-child(6),
.field:nth-child(9)
{
    border-right: 0;
}

/* footer */

.footer {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 28px;
}

.fa-github {
    color: var(--font-color);
    font-size: 30px;
    transition: transform 0.4s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(1turn) scale(1.5);
  }
